/******************
COLOUR REFERENCES:

> Teal (44,88,104) as decided by pod 1 for main background 

FROM LOGO:

> Blue (0,129,196)
> Green (117,185,168)
*****************/
html, body {
  margin:0;
  padding:0;
}

#mainBackground {
    /*background-color: rgb(44,88,104);*/ /*teal colour of CLC logo*/
    background-color: rgb(117,185,168);
}

#mainDiv {
	background-color: white;
}

p.main{
	font-size: 150%;
}
/**subclass of p.main**/
/*p.main .center
{
	text-align:center; 
  	vertical-align: middle;
}*/

/*div.contactUs {
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 2px dashed #f69c55;
}*/


a.gear {
	background-color: gray;
	color: black;
}

div.buttonLink {
    height: 50px;
    width: 20%;
    background-color: green;
}

div.header {
    height: 10%;
    width: 100%;
    background-color: white;
    font-family: "Verdana";
    /*margin-left: 10px;*/
}
#header {
  width:100%;
}
#left {
  float:left;
}
#center{
  margin:0 auto;
}
#right{
  float:right;
}

#footer {
  height: 10%;
  width: 100%;
  background-color: white;
  /*margin-left: 10px;*/
  position:absolute;
  bottom:0;
}
/*#footer > a {
  text-decoration: none;
  color: rgb(0,129,196);
}*/
#column{
  text-align: center;
  float: left;
  width: 50%;
}
#column > a {
  text-decoration: none;
  color: rgb(0,129,196);
  font-family: "Verdana";
}
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/**For Contact Us page*/
div.contactUs {
    height: 100px;
    width: 30%;
    /*background-color: rgb(0,129,196);*/
    color: white;
    text-align: center;
}
span.contactUs {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
div.contactUsButton {
    height: 55px;
    width: 10%;
    background-color: rgb(44,88,104);
    text-align: center;
}
h1.contactUs {
  color: white;
  margin-left: 15px;
}
a.contactUsButton{
  color: white;
}
/* http://www.w3schools.com/tags/ref_colorpicker.asp */

h1 {
	margin-top: 40px;
	font-weight: lighter;
	letter-spacing: 3px;
	font-size: 50px;
}

h3 {
	font-weight: lighter;
	letter-spacing: 2px; 
}

h1, h3, h4, h5 {
	color: #4d4d4d;
}

body {
	/*background-image: url("mountains.jpg");*/
	background-size: 110%;
	background-repeat: no-repeat;
    margin: 10px 40px 10px 40px;
    font-family: "Helvetica"; 
    font-weight: lighter;
    color: #666666; 
}

input {
	font-weight: lighter;
	letter-spacing: 0.5px; 
	font-size: 14px;
}

p {
	letter-spacing: 0.5px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.center {
    margin: auto;
    width: 50%;
    border: 1px solid #0F58E8;
    padding: 10px;
}
