
#mainBackground {
    background-color: rgb(44,88,104);
}

#mainDiv {
	background-color: white;
}


a.gear {
	background-color: gray;
	color: black;
}

div.buttonLink {
    height: 50px;
    width: 20%;
    background-color: green;
}

/* http://www.w3schools.com/tags/ref_colorpicker.asp */
