/**{
    border-style: solid;
    border-width: 1px;
}*/

.main-container{
    display: grid;
    margin: auto;
    grid-template-columns: 20% 60% 20%;
}

.schedule-container{
  grid-column-start:2;
  display: grid;
  width: 100%;


}

.item{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  /*height: 100%;*/


}
.med-container{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    height:100%;
    width: 100%;
    max-height: 50px;;
    min-height: 50px;
    min-width: 500px;


}
.med-item{
    border-radius: 5px;
    padding-right: 5px;
}
.med-item div
{
    display: table;
    height: 100%;
    width: 100%;
}
.med-item div div{

    display: table-cell;
    vertical-align: middle;
}
.med-title{
    font-size: 20px;
}
.btn{
    width: 80%;
    height: 80%;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: normal;

}






.view-container{
     grid-column-start:3;
     display: grid;
     grid-template-columns: 50% 50%;
     margin-left: 10%;
     height: 100%;
     width: 50%;
     border-style:solid;
     border-width:2px;
     border-radius: 5px;

}

.view{
    background-color: gray;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

}
.active{
    background-color: green;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    text-decoration: none;
    color: black;
}
