/**{
    border-style: solid;
    border-width: 1px;
}*/

.main-container{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 4fr 1fr;
}

.schedule-container{

  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

}

.item{

  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;



}
.med-container{
    display: grid;
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-rows: minmax(100px,auto);


}
.med-item{
    border-radius: 5px;
    padding-right: 5px;
}
.med-item div
{
    display: table;
    height: 100%;
    width: 100%;
}
.med-item div div{

    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}

.btn{
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: normal;

}






.view-container{
     grid-column-start:3;
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-left: 10%;
     height: 100%;
     border-style:solid;
     border-width:2px;
     border-radius: 5px;

}

.view{
    background-color: gray;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

}
.active{
    background-color: green;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    text-decoration: none;
    color: black;
}
